Task1/bin/
Task1/obj/
Task1/vscode/
Task1/.DS_Store/
Task2/bin/
Task2/obj/
Task2/.vscode/
Task2/.DS_Store/
Task3/bin/
Task3/obj/
Task3/.vscode/
Task3/.DS_Store/
Task4/bin/
Task4/obj/
Task4/.vscode/
Task4/.DS_Store/
Task5/bin/
Task5/obj/
Task5/.vscode/
Task5/.DS_Store/

